/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__brand-green;
	border: none;
	border-radius: 0;
	color: white;
	cursor: pointer;
	font-family: $font__alt;
	@include font-size(.9);
	line-height: 1;
	padding: ($base__space-unit / 2) $base__space-unit;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		background: darken($color__brand-green, 10%);
		color: white;
	}
}

.black-btn {
	@extend .btn;
	background-color: transparent;
	border: 1px solid black;
	color: black;
}

.white-btn {
	@extend .btn;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.black-btn,
.white-btn {
	&:hover,
	&:active,
	&:focus {
		background-color: $color__brand-green;
		border: 1px solid $color__brand-green;
		color: white;
	}
}

/* Fields */

fieldset {
	border: 0;
	padding: 0;
	padding-bottom: $base__space-unit / 2;
	margin: 0;
}

label {
	color: $color__brand-purple;
	display: block;
	font-family: $font__alt;
	@include font-size(1.1);
	margin-bottom: $base__space-unit / 3;
	text-transform: uppercase;

	.error404 & {
		display: inline-block;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	background-color: #f4f4f4;
	border: $base__border;
	border-radius: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: ($base__space-unit / 5);
}

textarea {
	padding-left: $base__space-unit / 5;
	width: 100%;
}
